.card {
    border: var(--width-separator-thin) solid var(--color-separator-light);
    border-radius: var(--radius-card);
    background-color: var(--color-foreground);

    .header {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
        padding: var(--spacing-medium);

        .title {
            flex-grow: 1;
        }

        .header-right {
            flex-shrink: 0;
        }
    }

    .content {
        padding: var(--spacing-medium);
    }
}
